
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlPostBeneficiario = '@Url.Action("IncluirBeneficiario", "Beneficiario", new { area = "" })';
        var urlDeleteBeneficiario = '@Url.Action("ExcluirBeneficiario", "Beneficiario", new { area = "" })';
        var urlAtualizarBeneficiario = '@Url.Action("AlterarBeneficiario", "Beneficiario", new { area = "" })';
        var urlBuscarBeneficiarioPorCliente= '@Url.Action("BuscarBeneficiariosPorIdCliente", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")